@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 245, 245;
}

.dark {
  --foreground-rgb: 228, 231, 234;
  --background-rgb: 27, 32, 37;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.dark body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.font-montserrat {
  font-family: var(--font-montserrat), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #4f46e5, #7c3aed, #d946ef);
  background-size: 200% auto;
  animation: shine 8s ease-in-out infinite;
}

@keyframes shine {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}

/* Custom scrollbar styles for dark mode */
.dark textarea::-webkit-scrollbar {
  width: 8px;
}

.dark textarea::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 32px;
}

.dark textarea::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.5);
  border-radius: 4px;
  min-height: 40px;
}

.dark textarea::-webkit-scrollbar-corner {
  background: transparent;
} 